.farmilka-text {
    background-color: black;
    padding: 10px;
    color: yellow;
    font-family: "Press Start 2P";
    font-size: 10px;
    border-radius: 10px;
}

.blabla {
    margin: 20px;
    padding: 0;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.blabla button {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}